<div>
Search : <input type="text" ng-model="searchtext"/>
<ol>
	<li ng-repeat="cust in customers | filter:searchtext | orderBy:name">
		{{cust.name | uppercase}} - {{cust.city | lowercase}}
	</li>
</ol>


RESTful Response : {{$scope.customers}}

<h4>Add Customer</h4> 
Customer Name : <input type=text ng-model="newcust.name"/>
<br/>
Customer City : <input type=text ng-model="newcust.city"/>
<br/>
<button ng-click="addCustomer()">Add Customer</button>

<br/><br/>
<a href="#/hello"/>Hello test link</a>
</div>